

/* ==========================================================================
   Base Styles and Bootstrap Modifications
   ========================================================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*font-weight: 400;*/
  font-family: "Open Sans";
}
html, button, input, select, textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #f2c2c9;
  color: #a4003a;
  text-shadow: none;
}
::selection {
  background: #16a085;
  color: #a4003a;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

.images {
  vertical-align: middle;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
/* ==========================================================================
   General styles
   ========================================================================== */

html, body {
  height: 100%;
}
body {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
.col-md-4 {
  padding-bottom: 20px;
}
.row {
  margin-right: 0px;
  margin-left: -15px;
}
.modal-header {
  background: #3498db;
}
.modal-header h4 {
  color: white;
}
.modal-footer {
  background: #2b2b2b;
}

.navbar {
    background-color: rgba(218,218,218,0);
  /*background-color: #FFF;*/
  padding: 10px 0;
  font-weight: 400;
}

/* Classes for transparent to opaque navbar transition */
/*------------------------------------------------------*/
.navbar-transition-color{
  color: black;
}

.navbar-transition-bg{
  background-color: white;
}
/*------------------------------------------------------*/



/*.navbar > .container {
  padding: 20px 0;
}*/


/* class found in index.html */
.navbar-icon-label{
  float: right;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1.7em;
  font-weight: 400;
  color: #DDD;
}

.navbar-nav a.smoothScroll{

}

.navbar-logo{
  margin-left: -25px;
  color: #DDD;
  float: left;
}


.navbar-toggle {
  position: relative;
  float: right;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  /*  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;*/
}
.img-responsive {
  width: 100%;
}
.navbar-default {
  border-color: transparent;
  background-color: rgba(218, 218, 218, 0.2);
}
.navbar-toggle {
  border-color: transparent;
  border: 0px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: red;
  color: white;
}

.navbar-nav > li{
  font-weight: 400;
  font-size: 1.2em;
}

.navbar-nav a{
  color: #DDD;
}

.navbar-nav{
  float: right;
}

hr {
  position: relative;
  border: none;
}
hr:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 2px;
  background: #ccc;
}
a images {
  background: white;
}
.odd a images {
  background: #f5f5f5;
}
/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  font-weight: 300;
  color: #333;
}

h1.centered{
  margin-bottom: 30px;
}

/*===========================*/
/* Paragraph & Typographic */
/*===========================*/

.latest-news{
  padding: 1%;
/*  border-bottom: 1px solid #EEE;
  border-left: 1px solid #EEE;*/
}

.latest-news p{
  line-height: 28px;
  margin-top: 15px;
  /*margin-bottom: 30px;*/
  font-size: 1.18em;
}

.centered {
  text-align: center;
}
.paragraph-lead {
  font-size: 20px;
  color: #3498db;
}
strong {
  font-weight: 700;
}
em {
  font-weight: 300;
}
pre {
  background: #ebebeb;
  border: none;
  font-family: "Open Sans";
  font-size: 16px;
  color: #666;
  padding: 20px;
  line-height: 28px;
}
small {
  font-size: 12px;
}
blockquote, blockquote p {
  line-height: 28px;
  color: #999;
  font-weight: 300;
  font-style: italic;
}
blockquote {
  position: relative;
  margin: 0 0 40px -30px;
  padding-left: 30px;
  border-left: 5px solid #3498db;
}
blockquote cite {
  position: absolute;
  bottom: -25px;
  right: 0;
  font-size: 12px;
  font-style: italic;
  color: #333;
  font-weight: 300;
}
blockquote cite:before {
  content: "-- "
}
/* Images */

.overflow-image {
  margin-top: -65px;
}
/* Links */

a {
  /*color: #3498db;*/
  color: #eee;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
  /*    color: #c0392b;*/
  text-decoration: none;
  outline: 0;
}
a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  /*background: url(../images/header_bg.gif) no-repeat center top;*/
  /*background-color: black;*/
  margin-top: -50px;
  /*padding-top: 120px;*/
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media(min-width: 1281px){
  #headerwrap{
    min-height: 850px;
  }
}

#headerwrap h1 {
  color: #ffffff;
  margin-top: 70px;
  padding-bottom: 10px;
  font-size: 120px;
  /*text-shadow: 2px 2px 2px #000;*/
}
#headerwrap p {
  color: #ffffff;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  line-height: 80px;
  letter-spacing: 1px;
  /*margin-left: 15px;*/
  /*text-shadow: 1px 1px 1px #000;*/
}

#header-over-video, #subheader-over-video{
  text-align: center;
  width: 100%;
  padding: 1%;
}

#headerwrap #header-over-video{
  margin-top: 300px;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.5);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;  
}

#headerwrap #subheader-over-video{
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;  
}

/*.content-center{
  margin: 0 auto;
  padding: 0 10px;
  height: 40px;
  width: 100%;
  background-color: black;
}*/

@media(max-width: 767px){
  .navbar-brand, .rhino-logo{
    display: none;
  }
}

header{
  position: absolute;
  width: 100%;
}

#wrapper{
  clear: both;
}

#wrapper video{
  position: absolute;
  top: 0;
  left: 0;
}

/*#wrapper div{
  position: absolute;
  left: 200;
  top: 2000;
}*/


.greywrap {
  position: relative;
  background: #002233;
  /*margin-top: 40px;*/
  padding-top: 45px;
  /*border-bottom: 1px solid #ddd;*/
  text-align: center;
}
.greywrap .callout {
  margin-bottom: 20px;
}
.greywrap p {
  margin-left: 30px;
  margin-right: 30px;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  color: #DDD;
  font-size: 1em;
}
.greywrap h1{
  color: #DDD;
}
.greywrap .icon {
  font-size: 60px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #DDD;
}

/*============*/
/* MAIN PAGE */
/*============*/

header{
  position: absolute;
  text-align: center;
  top: 50;
  left: 50;
}

video{
  width: 100%;
}

.more a{
  margin-top: 40px;
}

/* Upcoming Projects Section One */
.upcoming-projects-bar{
  text-align: center;
  padding: 5%;
  background-color: #f89600;
  font-size: 1em;
}

.upcoming-section-one img{
  width: 100%;
  height: 1200px;
} 

#description-one{
  float: right;
  background-color: black;
  width: 50%;
  height: 520px;
  margin: 0 auto;
}

div#description-one p{
  font-size: 30px;
  color: #BBB;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 20px;
}

.learn-more-one{
  margin: 0px auto;
  height: 60px;
  width: 200px;
  border: 2px solid #BBB;
  color: #BBB;
  text-align: center;
  font-size: 1.25em;
  padding: 15px 15px;
}

@media(max-width: 2400px){
  .upcoming-section-one img{
    width: 100%;
    height: 1200px;
  } 

  #description-one{
    float: right;
    background-color: black;
    width: 50%;
    height: 650px;
    margin: 0 auto;
  }
}

@media(max-width: 1600px){
  .upcoming-section-one img{
    width: 100%;
    height: 800px;
  } 

  #description-one{
    float: right;
    background-color: black;
    width: 50%;
    height: 520px;
    margin: 0 auto;
  }
   div#description-one p{
    font-size: 18px;
  }

  .learn-more-one{
    font-size: 1em;
    height: 40px;
    width: 150px;
    padding: 10px 10px;
  } 
}

@media(max-width: 1000px){
  .upcoming-section-one img{
    width: 100%;
    height: 650px;
  } 

  #description-one{
    float: right;
    background-color: black;
    width: 50%;
    height: 450px;
    margin: 0 auto;
  }

  div#description-one p{
    font-size: 15px;
  }

  .learn-more-one{
    font-size: 0.8em;
  }
}

@media(max-width: 750px){
  .upcoming-section-one img{
    width: 100%;
    height: 500px;
  } 

  #description-one{
    float: right;
    background-color: black;
    width: 50%;
    height: 300px;
    margin: 0 auto;
  }

  div#description-one p{
    font-size: 12px;
  }

  .learn-more-one{
    font-size: 0.7em;
  }
}

/*---------------------*/

/* Upcoming Projects Section Two*/

.upcoming-section-two img{
  height: 1000px;
  width: 100%;
  /*float: right;*/
}

#description-two{
  float: left;
  background-color: #7FFF00;
  width: 40%;
  height: 520px;
}

#description-two p{
  font-size: 30px;
  color: #111;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 20px;
}

.learn-more-two{
  margin: 0px auto;
  height: 60px;
  width: 200px;
  border: 2px solid #111;
  color: #111;
  text-align: center;
  font-size: 1.15em;
  padding: 15px 15px 30px 30px;  
}

@media(max-width: 2400px){
  .upcoming-section-two img{
    width: 100%;
    height: 1000px;
  } 

  #description-two{
    float: right;
    background-color: #7FFF00;
    width: 40%;
    height: 650px;
    margin: 0 auto;
  }
}

@media(max-width: 1600px){
  .upcoming-section-two img{
    width: 100%;
    height: 800px;
  } 

  #description-two{
    float: right;
    background-color: #7FFF00;
    width: 40%;
    height: 520px;
    margin: 0 auto;
  }
   div#description-two p{
    font-size: 18px;
  }

  .learn-more-two{
    font-size: 1em;
    height: 40px;
    width: 150px;
    padding: 10px 10px;
  } 
}

@media(max-width: 1000px){
  .upcoming-section-two img{
    width: 100%;
    height: 600px;
  } 

  #description-two{
    float: right;
    background-color: #7FFF00;
    width: 40%;
    height: 450px;
    margin: 0 auto;
  }

  div#description-two p{
    font-size: 15px;
  }

  .learn-more-two{
    font-size: 0.8em;
  }
}

@media(max-width: 750px){
  .upcoming-section-two img{
    width: 100%;
    height: 500px;
  } 

  #description-two{
    float: right;
    background-color: #7FFF00;
    width: 40%;
    height: 300px;
    margin: 0 auto;
  }

  div#description-two p{
    font-size: 12px;
  }

  .learn-more-two{
    font-size: 0.7em;
  }
}

/*---------------------*/

/* Upcoming Projects Section Three*/

.upcoming-section-three img{
  height: 1000px;
  width: 100%;
  float: left;
}

#description-three{
  float: right;
  background-color: #CDE7F0;
  width: 45%;
  height: 520px;
}

#description-three p{
  font-size: 30px;
  color: #111;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 20px;
}

.learn-more-three{
  margin: 0px auto;
  height: 60px;
  width: 200px;
  border: 2px solid #111;
  color: #111;
  text-align: center;
  font-size: 1.15em;
  padding: 15px 15px 30px 30px;  
}

@media(max-width: 2400px){
  .upcoming-section-three img{
    width: 100%;
    height: 1000px;
  } 

  #description-three{
    float: right;
    background-color: #CDE7F0;
    width: 50%;
    height: 650px;
    margin: 0 auto;
  }
}

@media(max-width: 1600px){
  .upcoming-section-three img{
    width: 100%;
    height: 800px;
  } 

  #description-three{
    float: right;
    background-color: #CDE7F0;
    width: 50%;
    height: 520px;
    margin: 0 auto;
  }
   div#description-three p{
    font-size: 18px;
  }

  .learn-more-three{
    font-size: 1em;
    height: 40px;
    width: 150px;
    padding: 10px 10px;
  } 
}

@media(max-width: 1000px){
  .upcoming-section-three img{
    width: 100%;
    height: 600px;
  } 

  #description-three{
    float: right;
    background-color: #CDE7F0;
    width: 50%;
    height: 450px;
    margin: 0 auto;
  }

  div#description-three p{
    font-size: 15px;
  }

  .learn-more-three{
    font-size: 0.8em;
  }
}

@media(max-width: 750px){
  .upcoming-section-three img{
    width: 100%;
    height: 500px;
  } 

  #description-three{
    float: right;
    background-color: #CDE7F0;
    width: 50%;
    height: 300px;
    margin: 0 auto;
  }

  div#description-three p{
    font-size: 12px;
  }

  .learn-more-three{
    font-size: 0.7em;
  }
}

/*---------------------*/
/* RHINOCO MANAGEMENT BAR */

.management-bar{
  text-align: center;
  padding: 5%;
  padding-top: 50px;
  background-color: #0063af;
  font-size: 1em;
  color: white;
}

.management-bar h1, .management-bar li{
  color: white;
}

.management-bar p{
  font-size: 1.20em;
}

.management-bar{
  text-align: center;
  padding: 5%;
  padding-top: 50px;
  background-color: #0063af;
  font-size: 1em;
  color: white;
}

/*---------------------*/
/* IN THE MEDIA BAR */

.media-bar{
  text-align: center;
  padding: 5%;
  padding-top: 50px;
  background-color: #00af5f;
  font-size: 1em;
  color: black;
}

.media-bar p{
  font-size: 1.20em;
}

.media-container{
  text-align: center;
}

.media-container img{
  width: 100%;
  height: 100%;
}

.media-one, .media-two, .media-three{
  height: 200px;
  width: 400px;
  /*background-color: #333;*/
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  margin: 2%;
}

.media-four, .media-five{
  height: 200px;
  width: 400px;
  /*background-color: #333;*/
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  margin: 2%;
}



/*---------------------*/
#footerwrap {
  background: #2b2b2b;
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
#footerwrap h4, .icon {
  color: white;
}
#footerwrap .icon {
  margin-left: 10px;
}
/* ABOUT PAGE */

#contact .icon {
  color: #000;
  margin-right: 15px;
}
#careers {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  background: #ccc;
}
.about-top {
  padding-top: 4em;
}
p.more {
  text-align: center;
  clear: both;
  font-size: 1.35em;
  text-shadow: 2px 2px #000;
}
p.more a {
  font-weight: 400;
  display: inline-block;
  background: #ffba00;
  height: 70px;
  width: 350px;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background 0.5s ease-in;
  -moz-transition: background 0.5s ease-in;
  -o-transition: background 0.5s ease-in;
  -ms-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
}
p.more a span {
  width: 100%;
  text-shadow: 0 0 0 #FFF;
  line-height: 3.2em;
  letter-spacing: 0.1em;
}
p.more a:hover {
  background: #f89600
}

/* PROJECTS PAGE */

#project-page {
  background-color: #fff;
}
#masonrywrap {
  width: 98%;
}
.project-masonry {
  margin: 0 auto;
}
.masonry-brick {
/*  margin: 0 auto;*/
  border: 1px solid #222;
/*  max-width: 80%;*/
  /*  width: 250px;
  height: 500px;*/
  /*  max-width: 375px;*/
/*  float: left;*/
}
.masonry-brick img {
  max-width: 300px;
  width: 100%;
}

/*MANAGEMENT PAGE*/
.the-team .img-responsive {
  border: 1px solid #fff;
  border-radius: 50%;
}

.the-team h3 {
  font-weight: bold;
}


/* ==========================================================================
   Box Sections
   ========================================================================== */

.latest-news {
  text-align: center;
}
.latest-news > images {
  width: 100%;
}

#image-miami-lakes, #image-lifting-weights{
  height: 400px;
  width: 650px;
  padding: 2%;
}
#image-nutriforce, #image-crossfit, #image-south-east{
  height: 300px;
  width: 450px;
  padding: 5%;
} 

#div-nutriforce p, #div-crossfit p, #div-south-east p{
  padding-left: 5%;
  padding-right: 5%;
}

@media (max-width: 2400px ){
  #image-miami-lakes, #image-lifting-weights{
    height: 500px;
    width: 750px;
    padding: 2%;
  }
  #image-nutriforce, #image-crossfit, #image-south-east{
    height: 350px;
    width: 500px;
    padding: 5%;
  } 
  .container{
    width: 1600px;
  }
}

@media( max-width: 1700px){
  #image-miami-lakes, #image-lifting-weights{
    height: 450px;
    width: 650px;
    padding: 2%;
    max-width:100%;
    max-height:100%;
  }
   
  #image-nutriforce, #image-crossfit, #image-south-east{
    height: 300px;
    width: 450px;
    padding: 5%;
    max-width:100%;
    max-height:100%;
  }

  #div-nutriforce p, #div-crossfit p, #div-south-east p{
    padding-left: 10%;
    padding-right: 10%;
  }

  .container{
    width: 1400px;
  }
}

@media(max-width: 1500px){
  .container{
    width: 1300px;
  }
}

@media( max-width: 1400px){
  #image-nutriforce, #image-crossfit, #image-south-east{
    height: 250px;
    /*width: 375px;*/
    width: 100%;
    padding: 2%;
  }

  #image-miami-lakes, #image-lifting-weights{
    height: 350px;
    /*width: 575px;*/
    width: 100%;
    /*margin: 5%;*/
    padding: 2%;
    clear: both;
  }

/*  #div-miami-lakes, #div-lifting-weights{
    height: 350px;
    width: 575px;
    padding: 2%;
  }*/

  .big-two-images{
    clear: both;
  }

  .small-three-images{
    clear: both;
  }

/*  #div-nutriforce p, #div-crossfit p, #div-south-east p{
    padding-left: 20px;
    padding-right: 20px;
  }*/
  .center-container{

  }
  .container{
    width: 1200px;
  }
}

@media(max-width: 1300px){
  .container{
    width: 1100px;
  }
}

@media( max-width: 1200px){
  h1.centered{
    margin-left: -60px;
  }

  #image-nutriforce, #image-crossfit, #image-south-east{
    height: 250px;
    width: 100%;
    /*padding: 2%;*/
  }

  #image-miami-lakes, #image-lifting-weights{
    height: 500px;
    width: 100%;
    padding: 5%;
    /*margin-bottom: 40px;*/
  }

  #div-miami-lakes, #div-lifting-weights{
    height: 500px;
    width: 820px;
    clear: both;
    margin-bottom: 50px;
  }

  #div-lifting-weights{
    margin-top: -60px;
  }

  #div-miami-lakes p, #div-lifting-weights p{
    margin-top: -20px;
  }

  #div-crossfit, #div-nutriforce, #div-south-east{
    margin: none;
    /*padding: 2%;*/
    width: 400px;
  }

  #div-crossfit p, #div-nutriforce p, #div-south-east p{
    padding-left: 5%;
    padding-right: 5%;
  }

  .big-two-images{
    clear: both;
    margin-top: -40px;
  }

  .small-three-images{
    clear: both;
    margin-bottom: 120px;
  }

  .center-container{
    margin-left: 80px;
  }

  .container{
    width: 1000px;
  } 
}

@media(max-width: 1100px){
  h1.centered{
    margin-left: -50px;
  }

  .center-container{
    margin-left: 80px;
  }

  #div-crossfit, #div-nutriforce, #div-south-east{
    margin: none;
    /*padding: 2%;*/
    width: 350px;
  }

  #image-nutriforce, #image-crossfit, #image-south-east{
    height: 200px;
    width: 100%;
    margin-right: -30px;
  }

  #image-miami-lakes, #image-lifting-weights{
    height: 400px;
    width: 100%;
    padding: 5%;
    margin-right: -50px;
    /*margin-bottom: 40px;*/
  }

  #div-miami-lakes, #div-lifting-weights{
    height: 470px;
    width: 680px;
    clear: both;
    /*margin-bottom: 50px;*/
  }  

  .container{
    width: 900px;
  }
}

@media( max-width: 900px){
  #image-nutriforce, #image-crossfit, #image-south-east{
    height: 200px;
    width: 100%;
    /*padding: 2%;*/
  }

  #image-miami-lakes, #image-lifting-weights{
    height: 500px;
    width: 100%;
    padding: 5%;
    /*margin-bottom: 40px;*/
  }

  #div-miami-lakes, #div-lifting-weights{
    height: 400px;
    /*width: 820px;*/
    width: 650px;
    clear: both;
    margin-bottom: 50px;
    margin-left: -12px;
  }

  #div-lifting-weights{
    margin-top: 0px;
  }

  #div-miami-lakes p, #div-lifting-weights p{
    margin-top: -20px;
  }

  #div-crossfit, #div-nutriforce, #div-south-east{
    margin: none;
    /*padding: 2%;*/
    width: 300px;
  }

  .big-two-images{
    clear: both;
    margin-top: -40px;
  }

  .small-three-images{
    clear: both;
    margin-bottom: 120px;
  }

  .center-container{
    /*margin-left: -40px;*/
  }

  .container{
    width: 850px;
  }
  
}

@media(max-width: 765px){
  #image-miami-lakes, #image-lifting-weights{
    height: 450px;
    width: 650px;
    padding: none;
    max-width:100%;
    max-height:100%;
  }
   
  #image-nutriforce, #image-crossfit, #image-south-east{
    height: 300px;
    width: 450px;
    padding: none;
    max-width:100%;
    max-height:100%;
  }

  #div-nutriforce p, #div-crossfit p, #div-south-east p{
    padding-left: 10%;
    padding-right: 10%;
  }

  .container{
    width: 1400px;
  }
}

.white h1 {
  padding-top: 35px;
}
.white p {
  padding-top: 25px;
}
/* Section Dividers */

.section-divider {
  z-index: 999;
  width: 100%;
  display: table;
  max-height: 450px;
  border-bottom: 2px solid #E6EAED;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 70px;
  margin-top: 45px;
  background-position: center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: relative;
  text-align: center;
}
.textdivider h1 {
  padding-top: 70px;
  color: white;
  font-size: 40px;
}
.textdivider p {
  color: white;
  font-size: 25px;
}
/* Section Dividers Backgrounds */

.divider1 {
  /*background-image: url('../images/bg/divider1.jpg')*/
  background-color: #ccc;
}
.divider2 {
  background-image: url('../images/bg/divider2.jpg')
}
.divider3 {
  background-image: url('../images/bg/divider3.jpg');
  margin-top: 0px;
}
.divider4 {
  background-image: url('../images/bg/divider4.jpg')
}
.divider6 {
  margin-top: 0;
  background-image: url('../images/bg/divider6.jpg')
}
/* ==========================================================================
   Services Section
   ========================================================================== */

.service-trigger {
  display: block;
  position: relative;
  margin-bottom: 15px;
  color: white;
  font-size: 20px;
  text-align: center;
  height: 168px;
  cursor: pointer;
  padding: 90px 20px 50px 20px;
  border: none;
  background: #333;
}
.service-trigger:before {
  width: 100%;
  top: 50px;
  color: #3498db;
  font-size: 36px;
  text-align: center;
  position: absolute;
  left: 0;
}
.service-active .service-trigger {
  background: #222;
}
.service-active p {
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
}
.service-content {
  padding: 15px 20px;
  background: #e6eaed;
  display: block;
  height: auto
}
.service-content p:last-child {
  margin: 0;
}
/* ==========================================================================
   Image Mask
   ========================================================================== */

.grid figure {
  margin: 0;
  position: relative;
}
.grid figure images {
  width: 100%;
  display: block;
  position: relative;
}
.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  background: #3498db;
}
.grid figcaption h5 {
  margin: 0;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 5px;
  color: #fff;
  font-weight: 700;
  text-align: left;
  letter-spacing: 2px;
}
.grid figcaption a {
  text-align: left;
  padding: 5px 10px;
  margin-left: 20px;
  display: inline-block;
  background: #2f2f2f;
  color: #fff;
  font-size: 13px;
}
/* Caption Style */

.mask figure {
  overflow: hidden;
}
.mask figure images {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.no-touch .mask figure:hover images, .mask figure.cs-hover images {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}
.mask figcaption {
  height: 50px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .mask figure:hover figcaption, .mask figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}
.mask figcaption a {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 30px;
}
/* ==========================================================================
   Blog Section
   ========================================================================== */

.blog-bg {
  background: #2b2b2b;
  padding-right: 0px;
  padding-left: 0px;
}
.blog-bg h4 {
  color: #dadada;
  padding-top: 0px;
}
.blog-bg h5 {
  color: #dadada;
  font-size: 11px;
}
.blog-content {
  padding-top: 10px;
  background: #f2f2f2;
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media screen and (max-width: 1050px), screen and (max-device-width: 1050px) {
  body .header {
    background-attachment: scroll;
  }
  #headerwrap {
    background: url('../images/header_bg.jpg') no-repeat top center;
  }
  #wrapper video{
    display: none;
  }
}
/*ipad portrait*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 769px) {
  #headerwrap h1 {
    font-size: 80px;
  }
  #headerwrap p {
    font-size: 30px;
    line-height: 38px;
  }
  .navbar {
    padding: 0;
  }
  .navbar-brand {
    font-size: 30px;
  }
}
