<!-- ==== ABOUT ==== -->
<section class="section-divider textdivider divider3">
    <div class="container">
        <h1>REINVENTING WORK</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, blanditiis.</p>
    </div>
    <!-- container -->
</section>
<!-- section -->

<div class="container">
    <div class="row white">
        <br>
        <h1 class="centered">ABOUT RHINOCO</h1>
        <hr>

        <div class="col-lg-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ut distinctio nulla amet omnis autem labore quasi incidunt impedit eum aliquam, quam, repudiandae. Consequuntur, aliquam sequi amet. Dignissimos quibusdam, delectus laudantium. Non accusamus, molestiae voluptate, possimus itaque necessitatibus ut error deleniti vitae blanditiis alias repudiandae. Consequuntur beatae eum, repudiandae aperiam.</p>
        </div>
        <!-- col-lg-6 -->

        <div class="col-lg-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quos blanditiis est nihil beatae consequuntur repudiandae dignissimos minima quod perspiciatis quam, maxime rem ipsum possimus excepturi. Ipsam voluptatibus cum commodi iusto qui hic ea non voluptatum sapiente molestias, dolore aut, amet, ut ducimus quam rerum harum tempora earum numquam consectetur!</p>
        </div>
        <!-- col-lg-6 -->
    </div>
    <!-- row -->
    <p class="more">
        <a href="#careers">
            <span>Explore Careers</span><i></i>
        </a>
    </p>
</div>
<!-- container -->

<div class="container" id="about" name="about">
    <!--   <div class="row about-top">
    <br>
    <h1 class="centered">REINVENTING WORK</h1>
    <hr>
  </div> -->



    <!--   <div class="row">

    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus neque, repudiandae magnam corrupti quasi ex vel delectus minus, itaque aliquam, recusandae ipsam! Expedita vero quis veritatis nihil voluptatem, culpa magnam quae soluta sequi assumenda eum accusamus fugiat rem repellendus amet eligendi, quo labore omnis velit laudantium sapiente mollitia enim. Sint laborum quasi, molestias sunt repellendus ea vero quia enim molestiae vel assumenda neque labore, impedit voluptatibus quo nulla non, dignissimos.</p>
    </div>

    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptatem sint harum voluptatum minus at vitae, accusantium corporis culpa quo dolores inventore. Ducimus aliquam, necessitatibus sed placeat pariatur animi commodi fugiat neque porro quidem. Quaerat aliquam sequi tenetur facere explicabo dolorum molestias vitae, est, architecto voluptate eaque autem pariatur vero unde et ab, excepturi enim cumque repellat. Excepturi, eius, unde.</p>
    </div>

    <p class="more">
      <a href="#careers">
        <span>Explore Careers</span><i></i>
      </a>
    </p>

  </div> -->

    <!--   <hr>

  <div class="row">

  </div>
 -->
    <!-- row -->
</div>
<!-- container -->
