<!-- ==== ABOUT ==== -->

<div id="careers" class="about-top">
  <section class="ogilvy-box">

    <h1 class="centered">Reinventing Work</h1>

    <div class="row">

      <div class="col-sm-6">
        <p>Work, we believe, needs to be fun, educational and something that makes you so excited that you jump out of bed each morning. So screw the traditional 9‑to‑5 job. Instead, get paid to play, create, learn, and grow. It’s like being a child again. But with a salary.</p>
      </div>

      <div class="col-sm-6">
        <p>Over the last few years we’ve won awards and accolades for creating one of the most unique and desirable work cultures in the world.</p>
      </div>

      <p class="more">
        <a href="#careers">
          <span>Explore Careers</span><i></i>
        </a>
      </p>

    </div>

  </section>

</div>

<div class="container" id="about" name="about">
  <!--   <div class="row about-top">
    <br>
    <h1 class="centered">REINVENTING WORK</h1>
    <hr>
  </div> -->



  <!--   <div class="row">

    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus neque, repudiandae magnam corrupti quasi ex vel delectus minus, itaque aliquam, recusandae ipsam! Expedita vero quis veritatis nihil voluptatem, culpa magnam quae soluta sequi assumenda eum accusamus fugiat rem repellendus amet eligendi, quo labore omnis velit laudantium sapiente mollitia enim. Sint laborum quasi, molestias sunt repellendus ea vero quia enim molestiae vel assumenda neque labore, impedit voluptatibus quo nulla non, dignissimos.</p>
    </div>

    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptatem sint harum voluptatum minus at vitae, accusantium corporis culpa quo dolores inventore. Ducimus aliquam, necessitatibus sed placeat pariatur animi commodi fugiat neque porro quidem. Quaerat aliquam sequi tenetur facere explicabo dolorum molestias vitae, est, architecto voluptate eaque autem pariatur vero unde et ab, excepturi enim cumque repellat. Excepturi, eius, unde.</p>
    </div>

    <p class="more">
      <a href="#careers">
        <span>Explore Careers</span><i></i>
      </a>
    </p>

  </div> -->

  <!--   <hr>

  <div class="row">

  </div>
 -->
  <!-- row -->
</div>
<!-- container -->
