<!-- ==== ABOUT ==== -->
<section class="section-divider textdivider divider3">
    <div class="container">
        <h1>REINVENTING WORK</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, blanditiis.</p>
    </div>
    <!-- container -->
</section>
<!-- section -->

<div class="container">
    <div class="row white">
        <br>
        <h1 class="centered">ABOUT RHINOCO</h1>
        <hr>

        <div class="col-lg-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ut distinctio nulla amet omnis autem labore quasi incidunt impedit eum aliquam, quam, repudiandae. Consequuntur, aliquam sequi amet. Dignissimos quibusdam, delectus laudantium. Non accusamus, molestiae voluptate, possimus itaque necessitatibus ut error deleniti vitae blanditiis alias repudiandae. Consequuntur beatae eum, repudiandae aperiam.</p>
        </div>
        <!-- col-lg-6 -->

        <div class="col-lg-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quos blanditiis est nihil beatae consequuntur repudiandae dignissimos minima quod perspiciatis quam, maxime rem ipsum possimus excepturi. Ipsam voluptatibus cum commodi iusto qui hic ea non voluptatum sapiente molestias, dolore aut, amet, ut ducimus quam rerum harum tempora earum numquam consectetur!</p>
        </div>
        <!-- col-lg-6 -->
    </div>
    <!-- row -->
    <p class="more">
        <a href="#careers">
            <span>Explore Careers</span><i></i>
        </a>
    </p>
</div>
<!-- container -->
<!-- ==== SECTION DIVIDER6 ==== -->
<section class="section-divider textdivider divider6">
    <div class="container">
        <h1>RHINOCO HQ</h1>
        <hr>
        <p>1600 Pennsylvia Avenue
            <br>555-555-5555</p>
    </div>
    <!-- container -->
</section>
<!-- section -->

<div class="container" id="contact" name="contact">
    <div class="row">
        <br>
        <h1 class="centered">THANKS FOR VISITING US</h1>
        <hr>
        <br>
        <br>
        <div class="col-md-4">
            <h3>Contact Information</h3>
            <p>
                <span class="icon icon-home"></span>Some Address 987, NY
                <br/>
                <span class="icon icon-phone"></span>+34 9884 4893
                <br/>
                <span class="icon icon-mobile"></span>+34 59855 9853
                <br/>
                <span class="icon icon-envelop"></span>email@email.com
            </p>
        </div>
        <!-- col -->

        <div class="col-md-4">
            <h3>Support Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis omnis sit, nemo laborum veritatis ex officia repellat, impedit maxime, odio tempore quasi. Blanditiis et laborum earum accusantium iusto voluptatibus labore.</p>
        </div>
        <!-- col -->

        <div class="col-md-2 col-md-offset-1">
            <h3>Social</h3>
            <p>
              <span class="icon icon-facebook"></span>Facebook
                <br/>
                <span class="icon icon-twitter"></span>Twitter
                <br/>
                <span class="icon icon-instagram"></span>Instagram
                <br/>
            </p>
        </div>
        <!-- col -->

    </div>
    <!-- row -->

</div>
<!-- row -->

</div>
<!-- container -->
