<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" id="home" name="home">
    <header class="clearfix">
        <h1>
            <span class="rhino-logo">&#114;</span>
        </h1>
        <p id="header-over-video">RHINOCO FITNESS</p>
        <p id="subheader-over-video">Defining the full circle of wellness</p>
    </header>
</div>
<!-- /headerwrap -->
<!-- ==== GREYWRAP ==== -->
<div class="greywrap">
    <div class="row">
        <div class="col-md-4 callout">
            <span class="icon icon-stack"></span>
            <h1>Building</h1>
            <p>We build and run the best functional fitness facilities across the globe.</p>
        </div>

        <div class="col-md-4 callout">
            <span class="icon icon-eye"></span>
            <h1>Management</h1>
            <p>RhinoCo represents and trains some of the world's top athletes, teams, and coaches from all walks of life.</p>
        </div>

        <div class="col-md-4 callout">
            <span class="icon icon-heart"></span>
            <h1>Growth</h1>
            <p>As one of the world's fastest-growing fitness companies, our projects touch every corner of the fitness industry: Exercise, Nutrition, Technology, and Recovery.</p>
        </div>
    </div>
    <!-- row -->
</div>
<!-- greywrap -->

<!-- ==== SERVICES ==== -->
<div class="container" id="media" name="media">
    <br>
    <br>
    <div class="row">
        <h1 class="centered">The Latest News on RhinoCo</h1>
        <br>
        <div id="div-miami-lakes" class="col-sm-6 col-lg-6 latest-news centered">
            <img id="image-miami-lakes" src="images/rhinoco-five/1_Miami Lakes.jpg">
            <p>CrossFit Miami Lakes celebrates its first year as one of the South East’s top fitness destinations.</p>
        </div>
        <div id="div-lifting-weights" class="col-sm-6 col-lg-6 latest-news centered">
            <img id="image-lifting-weights" src="images/rhinoco-five/2_Lifting Weights.jpg">
            <p>World champion athletes Annie Thorisdottir and Frederik Aegidius take charge at CrossFit Union Square in NYC.</p>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-6 latest-news centered">
            <img id="image-nutriforce" src="images/rhinoco-five/3_Nutriforce.jpg" class="img-responsive">
            <p>RhinoCo’s partnership with NutriForce Sports leads to revolutionary hydration product.</p>
        </div>
        <div class="col-sm-4 col-xs-6 latest-news centered">
            <img id="image-crossfit" src="images/rhinoco-five/4_Crossfit.png" class="img-responsive">
            <p>CrossFit Union Square opens at one of New York City’s most iconic intersections.</p>
        </div>
        <div class="col-sm-4 latest-news centered">
            <img id="image-south-east" src="images/rhinoco-five/5_South East Games.png" class="img-responsive">
            <p>RhinoCo announces its first-ever inter-gym championship with the RhinoCo Southeast Games.</p>
        </div>
    </div>
    <p class="more">
        <a href="#">
            <span>MORE POSTS </span>
        </a>
    </p>
</div>

