<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" id="home" name="home">
    <header class="clearfix">
        <h1>
            <span class="rhino-logo">&#114;</span>
        </h1>
        <p>RhinoCo Fitness</p>
        <p>Defining the full circle of wellness</p>
    </header>
</div>
<!-- /headerwrap -->
<!-- ==== GREYWRAP ==== -->
<div class="greywrap">
    <div class="row">
        <div class="col-md-4 callout">
            <span class="icon icon-stack"></span>
            <h2>RhinoCo Builds</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto laudantium est voluptates, accusantium at vel.</p>
        </div>

        <div class="col-md-4 callout">
            <span class="icon icon-eye"></span>
            <h2>RhinoCo Manages</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, illo esse amet tenetur odio!</p>
        </div>

        <div class="col-md-4 callout">
            <span class="icon icon-heart"></span>
            <h2>RhinoCo Something</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam natus error, iste reprehenderit.</p>
        </div>
    </div>
    <!-- row -->
</div>
<!-- greywrap -->

<!-- ==== SERVICES ==== -->
<div class="container" id="media" name="media">
    <br>
    <br>
    <div class="row">
        <h2 class="centered">LATEST NEWS ON RHINOCO</h2>
        <hr>
        <br>
        <div class="col-sm-6 latest-news centered">
            <img src="//lorempixel.com/450/250" class="img-responsive">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias, dolore. Quo reprehenderit autem recusandae, eius! Quam, eum eos dolore.</p>
        </div>
        <div class="col-sm-6 latest-news centered">
            <img src="//placekitten.com/450/250" class="img-responsive">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit cupiditate temporibus tempore, natus nulla ducimus iste nemo tempora modi unde.</p>
        </div>
        <div class="col-sm-4 col-xs-6 latest-news centered">
            <img src="//lorempixel.com/450/250" class="img-responsive">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aliquam sequi recusandae rem at dolores tempora nostrum debitis eos iste.</p>
        </div>
        <div class="col-sm-4 col-xs-6 latest-news centered">
            <img src="//placekitten.com/450/250" class="img-responsive">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt assumenda at nemo rem facere hic dolore enim fugit tenetur repellendus!</p>
        </div>
        <div class="col-sm-4 latest-news centered">
            <img src="//lorempixel.com/450/250" class="img-responsive">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id accusamus tempora asperiores deserunt nobis sequi fugit nam incidunt rem ad.</p>
        </div>
    </div>
    <p class="more">
        <a href="#">
            <span>MORE POSTS </span>
        </a>
    </p>
</div>

