<div class="container">
    <br>
    <br>
    <div class="row white">
        <h1 class="centered">HOW IT ALL STARTED</h1>
        <hr>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia voluptatibus, quaerat deserunt aperiam nisi possimus. Reprehenderit doloremque ducimus repellat, quam magnam sapiente ipsa nostrum eaque soluta quod nesciunt est ex quos atque aspernatur illum amet, vero expedita ut. Illo, pariatur quidem cum nostrum laboriosam rerum voluptatem ipsum, omnis ex odit?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus tempora id vero delectus, soluta, illum esse quod, fugit pariatur facilis omnis. Officia fugiat accusantium sint quam commodi quo tempore obcaecati.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam est, atque, autem a obcaecati ad.</p>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis facere illo fugit ratione, dicta ut accusantium doloremque quas. Voluptates sint iste, saepe aspernatur rem vero explicabo in architecto debitis. Commodi molestiae, eos beatae aliquid adipisci earum dolore nihil, asperiores neque voluptatibus, recusandae praesentium? Similique reiciendis fugit repellat, tempore cumque voluptates!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ab veritatis quibusdam, hic. Quam, placeat, quos. Maxime explicabo optio asperiores non perspiciatis. Assumenda quae soluta similique, a qui ad voluptates?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque officiis eveniet, est minima deserunt molestias quam dolorem incidunt.</p>
        </div>
    </div>
</div>
<section class="section-divider textdivider divider1">
    <div class="container">
        <h1>TEAM PICTURE</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, blanditiis.</p>
    </div>
    <!-- container -->
</section>
<div class="container the-team">
    <br>
    <br>
    <div class="row white centered">
        <h1>MEET THE TEAM</h1>
        <hr>
        <div class="col-sm-3 col-xs-6">
            <img src="//placekitten.com/240/240" class="img-responsive">
            <h3>Hank Pym</h3>
            <h4>CEO</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img src="//placekitten.com/240/240" class="img-responsive">
            <h3>Hank Pym</h3>
            <h4>CEO</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img src="//placekitten.com/240/240" class="img-responsive">
            <h3>Hank Pym</h3>
            <h4>CEO</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img src="//placekitten.com/240/240" class="img-responsive">
            <h3>Hank Pym</h3>
            <h4>CEO</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img src="//placekitten.com/240/240" class="img-responsive">
            <h3>Hank Pym</h3>
            <h4>CEO</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img src="//placekitten.com/240/240" class="img-responsive">
            <h3>Hank Pym</h3>
            <h4>CEO</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img src="//placekitten.com/240/240" class="img-responsive">
            <h3>Hank Pym</h3>
            <h4>CEO</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img src="//placekitten.com/240/240" class="img-responsive">
            <h3>Hank Pym</h3>
            <h4>CEO</h4>
        </div>
    </div>
</div>
