<section class="section-divider textdivider divider4">
    <div class="container">
        <h1>FEATURED IN</h1>
        <hr>
        <p>Publication logos will go here</p>
    </div>
    <!-- container -->
</section>
<!-- section -->
<div class="container">
    <div class="row white">
        <br>
        <h1 class="centered">RHINOCO IN THE PRESS</h1>
        <hr>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ut distinctio nulla amet omnis autem labore quasi incidunt impedit eum aliquam, quam, repudiandae. Consequuntur, aliquam sequi amet. Dignissimos quibusdam, delectus laudantium. Non accusamus, molestiae voluptate, possimus itaque necessitatibus ut error deleniti vitae blanditiis alias repudiandae. Consequuntur beatae eum, repudiandae aperiam.</p>
        </div>
        <!-- col-lg-6 -->

        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quos blanditiis est nihil beatae consequuntur repudiandae dignissimos minima quod perspiciatis quam, maxime rem ipsum possimus excepturi. Ipsam voluptatibus cum commodi iusto qui hic ea non voluptatum sapiente molestias, dolore aut, amet, ut ducimus quam rerum harum tempora earum numquam consectetur!</p>
        </div>
        <!-- col-lg-6 -->
    </div>
    <!-- row -->
    <p class="more">
        <a href="#careers">
            <span>Learn More</span><i></i>
        </a>
    </p>
</div>
<section class="section-divider textdivider divider2">
    <div class="container">
        <h1>SAVE THE RHINO INITIATIVE</h1>
        <hr>
        <p>Our commitment to changing lives also extends to a number of philanthropic initiatives.</p>
    </div>
    <!-- container -->
</section>
<div class="container" style="padding-bottom: 20px">
    <div class="row white">
        <br>
        <h1 class="centered">RHINO FORCE</h1>
        <hr>
        <div class="col-md-6 centered">
            <img src="//placekitten.com/480/320" class="img-responsive">
        </div>

        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quos blanditiis est nihil beatae consequuntur repudiandae dignissimos minima quod perspiciatis quam, maxime rem ipsum possimus excepturi. Ipsam voluptatibus cum commodi iusto qui hic ea non voluptatum sapiente molestias, dolore aut, amet, ut ducimus quam rerum harum tempora earum numquam consectetur!</p>
            <p class="more">
                <a href="#careers">
                    <span>Learn More</span><i></i>
                </a>
            </p>
        </div>

    </div>
    <!-- row -->
</div>
